<div class="container">
  <div class="titulo">
    <h1>Sobre mí</h1>
  </div>
  <div class="contenido">
    <p>Soy un <strong>desarrollador de aplicaciones web</strong> apasionado y recién graduado, con experiencia en el desarrollo de soluciones digitales gracias a mis prácticas y formación en el sector. He completado un <strong>Grado Superior en Desarrollo de Aplicaciones Web</strong> en el <strong>C.P.I.F.P Alan Turing</strong>, donde he adquirido habilidades sólidas en diversas tecnologías web y metodologías ágiles de desarrollo.</p>

    <p>Durante mi formación, he tenido la oportunidad de aplicar mis conocimientos en entornos profesionales en empresas como <strong>OPPLUS</strong> y <strong>Dedalus</strong>, donde desempeñé funciones de desarrollo en aplicaciones web. También tengo experiencia previa como <strong>camarero en Starlite Marbella</strong>, lo que me ha permitido perfeccionar habilidades clave como el trabajo en equipo, la atención al cliente y la capacidad de adaptación a diferentes situaciones.</p>

    <p>Soy una persona <strong>proactiva</strong> con un fuerte deseo de aprender y crecer profesionalmente. Mis aptitudes incluyen el <strong>trabajo en equipo</strong>, el <strong>liderazgo</strong>, y el <strong>pensamiento crítico</strong>, lo que me permite abordar proyectos de manera efectiva y colaborativa. Hablo <strong>castellano</strong> como lengua nativa y tengo un nivel <strong>B1 de inglés</strong>, lo que me facilita la comunicación en entornos internacionales.</p>

    <p>Estoy emocionado por las oportunidades que el futuro me depara en el mundo del desarrollo web y ansío contribuir a proyectos innovadores que marquen la diferencia.</p>
  </div>
</div>
