<div class="container">
  <div class="nombre">
    <h1>
      <span class="highlight">Software Developer</span> <br />
      José Pablo Díaz Marín
    </h1>
    <h2>Fullstack Angular & Node.JS</h2>
  </div>
  <div class="botones">
    <!-- Botón de LinkedIn corregido -->
    <a href="https://www.linkedin.com/in/jose-pablo-diaz-marin/" target="_blank">
      <button>
        <span class="button_top"><i class="fab fa-linkedin"></i> Linkedin</span>
      </button>
    </a>
    <!-- Botón para descargar el CV -->
    <a href="/CV Jose Pablo Diaz Marin.pdf" download>
      <button>
        <span class="button_top"><i class="fa-regular fa-file-pdf"></i> Descargar CV</span>
      </button>
    </a>
  </div>
</div>
