<app-particles style="z-index: 0;"></app-particles>
<div class="main-content">
  <app-header id="header"></app-header>
  <app-main-inicio ></app-main-inicio>
  <app-sobremi id="sobre-mi"></app-sobremi>
  <app-skills id="skills"></app-skills>
  <app-experiencia id="experiencia"></app-experiencia>
 <!-- <app-proyectos id="proyectos"></app-proyectos>
  <app-contacto id="contacto"></app-contacto>-->
  <app-flip-card id="proyectos"></app-flip-card>
  <app-contacto id="contacto"></app-contacto>



</div>
