<div class="experience-section">
  <h1>
    <span>04</span> Proyectos
  </h1>
</div>
<div class="card-container">
  <div class="card" *ngFor="let project of projects" (click)="openModal(project)">
    <div class="front">
      <img [src]="project.imageUrl" alt="Project Image" style="width: 150px; border-radius: 10px;">
      <h3>{{ project.title }}</h3>
      <div class="skills">
        <img *ngFor="let skill of project.skills" [src]="skill" alt="Skill Icon" style="width: 30px; ">
      </div>
    </div>
    <div class="back">
    </div>
  </div>
  <div class="card" *ngFor="let project of project2" (click)="openModal2(project)">
    <div class="front">
      <img [src]="project.imageUrl" alt="Project Image" style="width: 150px; border-radius: 10px; ">
      <h3 id="projecto2h3">{{ project.title }}</h3>
      <div class="skills">
        <img *ngFor="let skill of project.skills" [src]="skill" alt="Skill Icon" style="width: 30px; ">
      </div>
    </div>
    <div class="back">
    </div>
  </div>

</div>


<!-- Modal Component -->
<app-project-modal #projectModal></app-project-modal>
<app-model2 #model2></app-model2>
