/* Estilos para la sección de experiencia */
.experience-section {
  color: #e0e0e0;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 15vh;
  box-sizing: border-box;
}

.experience-section h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.experience-section h1 span {
  color: rgb(255, 133, 33);
  font-size: 2rem;
  font-weight: 600;
}

.experience-item {
  margin-bottom: 30px;
  border-left: 4px solid rgb(255, 133, 33);
  padding-left: 20px;
}

.position-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.duration {
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 10px;
}

.description {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
}

.description li {
  position: relative;
  margin-bottom: 10px;
  line-height: 1.6;
  padding-left: 25px;
}

.description li::before {
  content: "+";
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(255, 133, 33);
  font-weight: bold;
  font-size: 1.2rem;
}

/* Responsivo */
@media (max-width: 768px) {
  .experience-section h1 {
    font-size: 1.8rem;
  }

  .experience-item {
    padding-left: 15px;
  }

  .position-title {
    font-size: 1.3rem;
  }

  .description li {
    padding-left: 20px;
  }
}
