<div class="experience-section">
  <h1>
    <span>02</span> Experiencia
  </h1>

  <div class="experience-item">
    <div class="position-title">Desarrollador de Aplicaciones Web - Dedalus</div>
    <div class="duration">Abr. 2023 - Jun. 2023</div>
    <p class="description">
      Durante mis prácticas del Dual en Dedalus, trabajé en el desarrollo de una <strong>aplicación médica</strong> utilizando <strong>Angular</strong> para crear interfaces interactivas. Implementé <strong>Node.js</strong> para el backend y <strong>MongoDB</strong> para la gestión de datos, empleando <strong>Git</strong> para el control de versiones.
    </p>
  </div>

  <div class="experience-item">
    <div class="position-title">Desarrollador de Aplicaciones Web - OPPLUS</div>
    <div class="duration">Ene. 2024 - Mar. 2024</div>
    <p class="description">
      Durante mis prácticas del Dual en OPPLUS, trabajé en el desarrollo de una <strong>aplicación bancaria</strong> utilizando <strong>Spring Boot</strong> y <strong>Java</strong>. Gestioné bases de datos con <strong>SQL</strong>, optimizando el acceso a la información.
    </p>
  </div>

  <div class="experience-item">
    <div class="position-title">Desarrollador de Aplicaciones Web - OPPLUS</div>
    <div class="duration">Mar. 2024 - Jun. 2024</div>
    <p class="description">
      Durante mis prácticas en OPPLUS, me enfoqué en mejorar una <strong>aplicación bancaria</strong> utilizando <strong>Spring Boot</strong> y <strong>Java</strong>, optimizando consultas y el rendimiento con <strong>SQL</strong>.
    </p>
  </div>
<div class="espacio">
  <h1 >
    <span>03</span> Datos Académicos
  </h1>
</div>


  <div class="experience-item">
    <div class="position-title">Bachillerato Tecnológico</div>
    <div class="duration">I.E.S Litoral</div>
    <p class="description">
      Finalizado en Jun. 2021, donde adquirí una sólida base en materias científicas y tecnológicas.
    </p>
  </div>

  <div class="experience-item">
    <div class="position-title">Grado Superior en Desarrollo de Aplicaciones Web</div>
    <div class="duration">C.P.I.F.P Alan Turing</div>
    <p class="description">
      Finalizado en Jun. 2024, donde estudié tecnologías como <strong>Java</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>Figma</strong>, <strong>PHP</strong>, <strong>AWS</strong>, <strong>JavaScript</strong>, <strong>Angular</strong> y <strong>Docker</strong>.
    </p>
  </div>
</div>
