<div class="experience-section">
  <h1>
    <span>02</span> Experiencia
  </h1>



  <div class="experience-item">
    <div class="position-title">Desarrollador de Aplicaciones Web - Dedalus</div>
    <div class="duration">Abr. 2023 - Jun. 2023</div>
    <ul class="description">
      <li>Participación en un programa dual enfocado en el aprendizaje de <strong>Angular</strong> en un entorno profesional.</li>
      <li>Colaboración en revisiones de código para recibir retroalimentación y mejorar la calidad del desarrollo.</li>
      <li>Desarrollo de componentes frontend eficientes utilizando <strong>TypeScript</strong> y <strong>Angular</strong>.</li>
      <li>Práctica de las mejores metodologías ágiles aplicadas en un entorno empresarial (<strong>Scrum</strong>).</li>
      <li>Implementación de componentes interactivos y servicios para mejorar la experiencia de usuario.</li>
      <li>Gestión del control de versiones y dependencias con <strong>Git</strong> y <strong>npm</strong>.</li>
    </ul>
  </div>

  <div class="experience-item">
    <div class="position-title">Desarrollador de Aplicaciones Web - OPPLUS</div>
    <div class="duration">Ene. 2024 - Jun. 2024</div>
    <ul class="description">
      <li>Desarrollo backend con <strong>Spring Boot</strong> para gestionar operaciones bancarias y datos de clientes.</li>
      <li>Implementación de la interfaz de usuario con <strong>Vaadin</strong>, incluyendo la paginación de datos.</li>
      <li>Integración de APIs REST para comunicar el backend con el frontend.</li>
      <li>Realización de pruebas unitarias con <strong>JUnit</strong> y <strong>Mockito</strong> para garantizar la calidad del código.</li>
      <li>Uso de librerías como <strong>Lombok</strong> y dependencias propietarias de OPPLUS.</li>
      <li>Control de versiones y manejo del código con <strong>Bitbucket</strong>.</li>
    </ul>
  </div>
<div class="espacio">
  <h1 >
    <span>03</span> Datos Académicos
  </h1>
</div>


<div class="experience-item">
  <div class="position-title">Bachillerato Tecnológico</div>
  <div class="duration">I.E.S Litoral</div>
  <p class="description">
    Finalizado en Jun. 2021, donde desarrollé una sólida base en materias científicas y tecnológicas, fomentando el pensamiento lógico y analítico.
  </p>
</div>

<div class="experience-item">
  <div class="position-title">Grado Superior en Desarrollo de Aplicaciones Web</div>
  <div class="duration">C.P.I.F.P Alan Turing</div>
  <p class="description">
    Finalizado en Jun. 2024, con un enfoque práctico en tecnologías clave como <strong>Java</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>Figma</strong>, <strong>PHP</strong>, <strong>AWS</strong>, <strong>JavaScript</strong>, <strong>Angular</strong>, y <strong>Docker</strong>. Durante la formación, participé en proyectos que me permitieron aplicar estas tecnologías en escenarios reales.
  </p>
</div>

</div>
